/***** BASE STYLES *****/

body {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}

#about {
  height: 490px;
}

#banner, #menu, #reviews, #location {
  height: 230px;
}

#powered {
  height: 100px;
}

/***** GRID *****/

.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  margin: 0 auto;
  float: left;
}

.third-width {
  width: 398px;
  margin: 0 auto;
  float: left;
}

/***** HEADER *****/

header {
  height: 100px;
  }

header h1 {
  padding: 15px 0 10px 0px;
  font-weight: 700;
  font-size: 32px;
  color: #77a466;
  text-transform: uppercase;
}

header h1 span {
  color: #000000;
}

nav {
  float: right;
  padding: 30px 10px;
  word-spacing: 12px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #77a466;
  padding-left: 10px;
}

/***** ABOUT *****/

#about img#string-beans-img {
  border-top: 4px solid #77a466;
  border-bottom: 4px solid #77a466;
  background-color: #77a466;
}

#about h2 {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #77a466;
  padding-top: 5px;
}

#about p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-right: 15px;
}

/***** BANNER *****/

#banner {
  border-top: 1px solid #dedbdc;
  }

#menu, #reviews {
  border-right: 1px solid #dedbdc;
}

#banner h3 {
   font-size: 12px;
   font-weight: bold;
   text-transform: uppercase;
   padding-top: 20px;
 }

 #banner ul {
     list-style: none;
     font-size: 16px;
     font-weight: 400;
     color: #77a466;
     padding-left: 0px;
     line-height: 45px;
 }

  #banner p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    padding: 0 30px 0 30px;

  }

  #banner h4 {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0 0 30px;
    line-height: 0px;
  }

#reviews h3, #location h3 {
    padding-left: 30px;
}

/***** POWERED *****/

  #powered .full-width{
    border-top: 1px solid #dedbdc;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 22px;
  }

  #powered h3 span {
    font-family: 'Dancing Script', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #77a466;
    text-transform: lowercase;
  }
